h2 {
    font-size: 120%;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    padding-bottom: 2%;
}


/* images */

.game-image {
    margin-bottom: -50%;
}


/* text */

.teensytext {
    font-size: 66%;
    padding-top: 3px;
    padding-bottom: 1px;
}

.smallertext {
    font-size: 80%;
    font-family: serif;
}

.game-name-text {
    font-size: 150%;
    font-weight: bold;
}

.input-game-name-text {
    font-size: 150%;
    font-weight: bold;
}


/* spacers */

.block.has-left-border {
    margin-left: 5%;
    width: 100%;
}

.columns.base-column {
    margin-top: -7%;
}


/* boxes */

.button.is-card-image {
    width: 40%;
    padding-top: 20%;
    padding-bottom: 20%;
    float: left;
}

.box.is-card-image {
    width: 40%;
}

.box.is-full-card {
    margin-left: 0%;
    width: 100%;
    background-color: cornflowerblue;
    max-width: 650px;
    display: flex;
}

.box.is-warning {
    background-color: rgb(248, 255, 122);
}

.box.is-game-details {
    text-align: left;
    margin-top: 0;
    float: right;
}

.box.is-info-box {
    text-align: left;
}


/* buttons */

.button.has-left-border {
    margin-left: 5%;
}

.add-new-game-btn {
    border-style: solid;
    border-width: 0.2em;
    border-color: black;
    border-radius: 3px 5px 3px 6px;
    margin-left: 75%;
    height: 120%
}

.add-new-game-btn a {
    text-decoration: none;
    text-decoration-color: rebeccapurple
}