/* Style sheet for index page */

.index {
    font-size: 12px;
}

.index #green-text {
    color: green;
}


/* Footer */


/* a:link, a:active, a:visited a:hover */


/* buttons */

.index .search-btn {
    margin: 2px 4px 2px 4px;
    padding: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(233, 114, 159);
    border-radius: 8px 4px 6px 12px;
}

.index .nav-menu {
    float: left;
    background-color: cornflowerblue;
    width: 5%;
    height: 100%;
}

.footer {
    background-color: white;
    width: 70%;
}

.index .search-bar {
    width: 200px;
    background: rgb(220, 255, 220);
    display: inline-block;
    border: solid;
    border-color: blue;
}

.help-button {
    background-color: rgb(129, 158, 243);
    border-radius: 100% 100% 100% 100%;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    color: white;
    font-weight: 800;
    margin: 0px 0 0px 10px;
    padding: 0 1px 0 1px;
}